@charset "UTF-8";
#content_box {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.card_wrap {
    display: flex;
    gap: 16px;
    padding: 2%;
}

.card_a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.card_wrap .card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 24px;
    border: 1px solid #ebeaec;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 24px;
    text-align: center;
}

.card_top {
    font-weight: bold;
    font-size: 16px;
}

.card_top img {
    width: 258px;
    height: 258px;
}

.card_bottom {
    margin-top: 40px;
}

.card_top .card_bottom {
    font-size: 13px;
    color: #727174;
}

.card_bottom .card_date {
    font-size: 12px;
    color: #b4b4b6;
}