@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #B4FFFF;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6CFFFF;
}

/* 게시글 스타일 */
.post {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
    line-height: 1.6;
}

/* 버튼 스타일 */
.button {
    display: flex;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* 댓글 스타일 */
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.comment-border{
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #EAEAEA;
}

.comment p {
    margin: 5px 0;
}