@charset "utf-8";

.left-menu-wraper {
  float: left;
  margin-bottom: 10px;
}

.left-menu-wraper .menu {
  margin: 0;
}

.left-menu-wraper .tablist .menu-icon {
  padding: 10px;
}

.left-menu-wraper .tablist .menu-icon .productMenu {
  margin-left: 10px;
}

.left-menu-wraper .tablist .menu-info ul {
  width: 220px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 10px;
}

.left-menu-wraper .tablist .menu-info li {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
}

.left-menu-wraper .tablist .menu-info li a {
  color: rgb(99, 92, 92);
}
