@charset "utf-8";

nav {
  display: inline-block;
  width: 100%;
  height: 120px;
  background-color: black;
}

nav .nav-top {
  margin: 20px 10px 10px 10px;
  text-align: center;
}

nav .nav-top h1 a {
  font-size: 40px;
  letter-spacing: 15px;
  color: rgb(133 150 191);
}

nav .nav-top .loginMsg {
  color: rgb(82 159 215);
}

nav .nav-bottom {
  margin: 15px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .nav-bottom .bottom-left {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

nav .nav-bottom .bottom-middle {
  width: 360px;
  display: flex;
  justify-content: space-around;
  margin-right: 90px;
}

nav .nav-bottom .bottom-right {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
}

nav .nav-bottom a:hover {
  color: gray;
}
