@charset "UTF-8";

.register{
	background-image: url('../img/회원가입 배경.jpg');
}

.re_input{
	padding: 5px;
	background-color: lightyellow;
}

.box {
	width: 400px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	font-size: large;
}

.w-70 {
	width: 70%;
}

.w-60 {
	width: 60%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-20 {
	width: 20%;
}

.flex-between+.flex-between{
	margin-top: 20px;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.re-button {
    display: flex;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}