@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

body{
	box-sizing: border-box;
	height: 100vh; /* vh : view height -> 전체 창 기준으로 높이 맞춤(1~100까지 가능)*/
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: orange;
}

footer{
	margin-top: 40px;
}

.point{
	color: blue;
}

.gray{
	color: gray;
	fill: gray;
}

.center-layout-column .logo{
	margin-bottom: 20px;
}

.center-layout-column h3{
	margin-bottom: 30px;
}